@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #dcdcdc;
}

body {
  margin: 0px;
  height: 50vh;
  background-color: #111111;
}

.backgroundHeader {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  padding: 100px 0px 100px 0px;
  margin: 0;
  box-shadow: 0px 10px 10px #0e0e0e;
  font-size: 25px;
}

.backgroundHeader::after {
  content: "";
  background-image: url(../assets/img/background.jpg);
  background-attachment: fixed;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-color: #020202;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

main {
  margin: 40px 100px 40px 100px;
}

.aboutSectionBg {
  width: 100%;
  display: block;
  position: relative;
  text-align: left;
  margin: 10px 0px 10px 0px;
  box-shadow: 0px 10px 10px #0e0e0e;
  font-size: 25px;
  border-radius: 6px;
}

.aboutSectionBg::after {
  content: "";
  background-image: url(../assets/img/background1.jpg);
  background-attachment: fixed;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-color: #020202;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 6px;
}

.aboutSectionBg h3 {
  padding: 10px;
  margin: 10px;
}

h1,
h2,
h3,
p {
  padding: 0px;
}

hr {
  margin: 5px 0px 5px 0px;
  border: 1px solid #191a1d;
}

.cards {
  display: grid;
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
td {
  padding-right: 100px;
}
.card {
  position: relative;
  display: block;
  height: auto;
  width: 300px;

  border-radius: 20px;
  overflow: hidden;
  background-color: #191a1d;
  text-align: left;
  box-shadow: #020202 0px 10px 20px;
}

.card h4 {
  margin: 5px 0px 5px 15px;
  color: #f59804;
  font-size: 20px;
}

.card button {
  margin: 5px 15px 15px 15px;
  width: 90%;
  background-color: #2d2d2d;
  border: #191a1d solid 1px;
  border-radius: 6px;
  font-size: large;
}

.card button a {
  text-decoration: none;
}
.cardImg {
  height: 250px;
  width: 100%;
  filter: brightness(0.5);
  object-fit: cover;
  box-shadow: rgba(209, 105, 8, 0.5) 5px 10px 50px;
}

.card:hover {
  background-color: #2d2d2d;
  box-shadow: rgba(209, 105, 8, 0.2) 0px 10px 20px;
  transition: 0.2s;
}

.card:hover > .cardImg {
  filter: brightness(1);
}

.card:hover > .seeMore {
  background-color: #f59804;
  border: #f59804 solid 1px;
}

.card:hover > .seeMore a {
  color: #0e0e0e;
}

.card p {
  margin: 5px 0px 5px 15px;
  font-size: 12px;
}

.card p a {
  font-size: 18px;
}

.blogSection{
    padding: 10px 200px 10px 200px;
    text-align: left;
}

footer {
  background-color: #191a1d;
  height: 100px;
  margin-top: 100px;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
}

footer p {
  margin: 0;
  color: #f2f3f5;
  padding-top: 20px;
}
