@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");


*{
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f5;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

#header {
  background-color: antiquewhite;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 20px;
  height: 50px;
  width: 100%;
}

#header *{
  text-decoration: none;
  color: black;
  padding: 0 4px 0 4px;
}

#header h3,
#header p {
  display: inline;
}

.sectionPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  height: 50vh;
  width: 100%;
}

#heroContent {
  background-color: cadetblue;
  
}

#description {
  background-color: navajowhite;
}

#eventDetail {
  background-color: aquamarine;
}

#spotifyList {
  background-color: yellowgreen;
  flex: 1;
  width: 50vw;
}

#img {
  background-color: yellow;
  flex: 1;
  width: 50vw;
}

#pricing {
  background-color:brown;
}

#form {
  background-color:steelblue;
}

#partners {
  background-color:azure;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  height: 50vh;
  width: 100%;
}

.backToTop {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all .2s ease;
}

.backToTop:hover{
  transform: scale(1.2, 1.2);
  transition: all .2s ease;
}